/* 
    Document   : cliente
    Created on : 03/05/2015, 21:35:42
    Author     : Carolini
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    -fx-background-image: url("img1.jpg");
}

